.coins {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
}

.coin {
  margin-bottom: 0;
  position: absolute;

  .icon {
    // -webkit-filter: drop-shadow(2px 2px 2px #222);
    // filter: drop-shadow(2px 2px 2px #222);
    cursor: move;
    max-height: 50px;
    max-width: 50px;
  }

  &.Gem-1 {
    left: 25%;
    top: 0;
  }

  &.Gem-2 {
    left: 20%;
    top: 3%;
  }

  &.Gem-3 {
    left: 23%;
    top: -25%;
  }

  &.Gem-4 {
    left: 30%;
    top: 0%;
    .icon {
      max-width: 25px;
    }
  }

  &.Gem-5 {
    right: 35%;
    top: 25%;
    .icon {
      max-width: 20px;
    }
  }

  &.Gem-6 {
    right: 35%;
    top: 10%;
    .icon {
      max-width: 20px;
    }
  }

  &.Gem-7 {
    right: 37%;
    top: 15%;
    .icon {
      max-width: 20px;
    }
  }

  &.Gem-8 {
    right: 28%;
    top: -10%;
    .icon {
      max-height: 75px;
      max-width: 75px;
    }
  }

  &.Gem-9 {
    right: 26%;
    top: 25%;
    .icon {
      max-width: 35px;
    }
  }

  &.Gem-10 {
    right: 22%;
    top: 15%;
    .icon {
      max-width: 35px;
    }
  }

  &.Gem-11 {
    right: 12%;
    top: 0;
    .icon {
      max-width: 50px;
    }
  }

  &.Gem-12 {
    left: 15%;
    top: 0;
    .icon {
      max-height: 50px;
    }
  }

  &.Star-1 {
    right: 23%;
    top: -20%;
    .icon {
      max-height: 50px;
    }
  }

  &.Star-2 {
    left: 18%;
    top: -15%;
    .icon {
      max-height: 50px;
    }
  }

  &.Star-3 {
    left: 33%;
    top: 15%;
    .icon {
      max-height: 50px;
    }
  }

  &.Star-4 {
    right: 16%;
    top: -30%;
    .icon {
      max-height: 85px;
      max-width: 85px;
    }
  }

  &.Star-5 {
    right: 12%;
    top: -35%;
  }
}
