.coins {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;

  @media screen and (max-width: 769px) {
    display: block;
    height: 125px;
  }
}

.coin {
  margin-bottom: 0;
  position: absolute;

  .icon {
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
    cursor: move;
    max-height: 50px;
    max-width: 50px;

    @media screen and (max-width: 769px) {
      max-height: 35px;
      max-width: 35px;
    }
  }

  &.Gem-1 {
    left: 25%;
    top: 0;

    @media screen and (max-width: 769px) {
      top: 5%;
    }
  }

  &.Gem-2 {
    left: 20%;
    top: 3%;

    @media screen and (max-width: 769px) {
      top: 40%;
    }
  }

  &.Gem-3 {
    left: 23%;
    top: -25%;

    @media screen and (max-width: 769px) {
      left: 2%;
      top: -35%;
    }
  }

  &.Gem-4 {
    left: 30%;
    top: 0%;

    .icon {
      max-width: 25px;
    }

    @media screen and (max-width: 769px) {
      left: 40%;

      .icon {
        max-width: 20px;
      }
    }
  }

  &.Gem-5 {
    right: 35%;
    top: 25%;

    .icon {
      max-width: 20px;
    }

    @media screen and (max-width: 769px) {
      right: 45%;
      top: 50%;

      .icon {
        max-width: 15px;
      }
    }
  }

  &.Gem-6 {
    right: 35%;
    top: 10%;

    .icon {
      max-width: 20px;
    }

    @media screen and (max-width: 769px) {
      right: 45%;
      top: 30%;
      .icon {
        max-width: 15px;
      }
    }
  }

  &.Gem-7 {
    right: 37%;
    top: 15%;

    .icon {
      max-width: 20px;
    }

    @media screen and (max-width: 769px) {
      right: 50%;
      top: 40%;

      .icon {
        max-width: 15px;
      }
    }
  }

  &.Gem-8 {
    right: 28%;
    top: -10%;

    .icon {
      max-height: 75px;
      max-width: 75px;
    }

    @media screen and (max-width: 769px) {
      right: 40%;

      .icon {
        max-height: 45px;
        max-width: 45px;
      }
    }
  }

  &.Gem-9 {
    right: 26%;
    top: 25%;

    .icon {
      max-width: 35px;
    }

    @media screen and (max-width: 769px) {
      right: 33%;

      .icon {
        max-width: 40px;
      }
    }
  }

  &.Gem-10 {
    right: 22%;
    top: 15%;

    .icon {
      max-width: 35px;
    }

    @media screen and (max-width: 769px) {
      right: 2%;
      top: -35%;
      .icon {
        max-width: 15px;
      }
    }
  }

  &.Gem-11 {
    right: 12%;
    top: 0;

    .icon {
      max-width: 50px;
    }

    @media screen and (max-width: 769px) {
      right: 3%;
      top: -10%;

      .icon {
        max-width: 30px;
      }
    }
  }

  &.Gem-12 {
    left: 15%;
    top: 0;

    .icon {
      max-height: 50px;
    }

    @media screen and (max-width: 769px) {
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-13 {
    left: 28%;
    top: -45%;

    .icon {
      max-height: 40px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-14 {
    left: 40%;
    top: 35%;

    .icon {
      max-height: 20px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-15 {
    right: 38%;
    top: 30%;

    .icon {
      max-height: 50px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-16 {
    left: 13%;
    top: -90%;

    .icon {
      max-height: 30px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-17 {
    left: 12%;
    top: -60%;

    .icon {
      max-height: 25px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-18 {
    right: 15%;
    top: -70%;

    .icon {
      max-height: 50px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-19 {
    right: 7%;
    top: -130%;

    .icon {
      max-height: 30px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-20 {
    left: 22%;
    top: -27%;

    .icon {
      max-width: 15px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-21 {
    left: 20%;
    top: -25%;

    .icon {
      max-width: 15px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-22 {
    left: 29%;
    top: 30%;

    .icon {
      max-height: 20px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-23 {
    right: 21%;
    top: -65%;

    .icon {
      max-height: 40px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-24 {
    right: 21%;
    top: -35%;

    .icon {
      max-height: 20px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Gem-25 {
    right: 11%;
    top: -110%;

    .icon {
      max-height: 20px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
      left: 5%;
      top: 15%;
    }
  }

  &.Star-1 {
    right: 23%;
    top: -20%;

    .icon {
      max-height: 50px;
    }

    @media screen and (max-width: 769px) {
      right: 30%;
    }
  }

  &.Star-2 {
    left: 18%;
    top: -15%;

    .icon {
      max-height: 50px;
    }

    @media screen and (max-width: 769px) {
      left: 13%;
    }
  }

  &.Star-3 {
    left: 33%;
    top: 15%;

    .icon {
      max-height: 50px;
    }

    @media screen and (max-width: 769px) {
      top: 33%;
      left: 35%;
    }
  }

  &.Star-4 {
    right: 16%;
    top: -30%;

    .icon {
      max-height: 85px;
      max-width: 85px;
    }

    @media screen and (max-width: 769px) {
      top: -15%;

      .icon {
        max-height: 70px;
        max-width: 70px;
      }
    }
  }

  &.Star-5 {
    right: 12%;
    top: -35%;

    @media screen and (max-width: 769px) {
    }
  }

  &.Star-6 {
    left: 19%;
    top: -65%;

    .icon {
      max-height: 55px;
    }

    @media screen and (max-width: 769px) {
      display: none !important;
    }
  }

  &.Star-7 {
    right: 26%;
    top: -45%;

    @media screen and (max-width: 769px) {
      display: none !important;
    }
  }

  &.Star-8 {
    left: 10%;
    top: -155%;

    @media screen and (max-width: 769px) {
      display: none !important;
    }
  }

  &.Star-9 {
    left: 15%;
    top: -55%;

    @media screen and (max-width: 769px) {
      display: none !important;
    }
  }

  &.Star-10 {
    left: 20%;
    top: -45%;

    @media screen and (max-width: 769px) {
      display: none !important;
    }
  }
  &.Star-11 {
    left: 25%;
    top: -35%;

    @media screen and (max-width: 769px) {
      display: none !important;
    }
  }
}
