.disclaimer {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;

  &__wrapper {
    margin: 0 100px;
    overflow: hidden;

    @media screen and (max-width: 769px) {
      margin: 0 20px;
    }
  }
}

.disclaimer__text {
  color: #ffffff;
  font-weight: bold;
  margin: 0 0 20px;

  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 25s linear infinite;
  -webkit-animation: my-animation 25s linear infinite;
  animation: my-animation 25s linear infinite;

  @media screen and (max-width: 769px) {
    margin-bottom: 5px;
    white-space: nowrap;
  }
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
