.hero {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .image__wrapper {
    height: 100%;
    margin: 0 5%;
    width: 100%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
