.info {
  bottom: 10px;
  position: absolute;
  right: 10px;

  &__wrapper {
    background-color: yellow;
    border: 1px solid black;
    padding: 25px;
  }

  .icon {
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
  }
}
