.well {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 100px;
  min-height: 0;
  min-width: 0;

  .img__wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
